:root{
  --default-color: #E50914;
  --light: Netflix Sans Light;
  --regular: Netflix Sans Regular;
  --medium: Netflix Sans Medium;
  --bold: Netflix Sans Bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: black;
  overflow-x: hidden;
  color: #f2f2f2;
  font-family: var(--regular);
}
@font-face {
  font-family: Netflix Sans Light;
  src: url("../assets/fonts/NetflixSans-Light.woff2");
}
@font-face {
  font-family: Netflix Sans Regular;
  src: url("../assets/fonts/NetflixSans-Regular.woff2");
}
@font-face {
  font-family: Netflix Sans Bold;
  src: url("../assets/fonts/NetflixSans-Bold.woff2");
}
@font-face {
  font-family: Netflix Sans Medium;
  src: url("../assets/fonts/NetflixSans-Medium.woff2");
}